body {
	font-family: "Raleway", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #c4c4c4;
	background: -webkit-linear-gradient(left, #ffffff, #f2f2f2);
	background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#f2f2f2));
	background: linear-gradient(to right, #ffffff, #f2f2f2);
}

p {
	margin: 0;
	font-size: 16px;
}

h1 {
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 42px;
}

.navbar-inverse {
	background: transparent;
	border: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	min-height: 60px;
}

.navbar-inverse .navbar-brand {
	float: left;
	color: #fc4e1b;
}

.navbar-inverse .navbar-brand h1 {
	float: left;
}

.navbar-inverse .navbar-nav > li > a {
	float: none;
	margin: 5px;
}

.navbar-inverse .navbar-nav > li > a:hover {
	border-radius: 1px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-toggle {
	border-color: #ccc;
	margin: 20px;
}

.navbar {
	padding-bottom: 15px;
	margin-bottom: 0px;
	border-width: 0px;
}

.navbar-toggle {
	background-color: rgba(200, 200, 200, 0.9);
}

.navbar-header a:visited {
	color: #fc4e1b !important;
}

.navbar-header a:hover {
	color: #fc4e1b !important;
}

.navbar-header h1 {
	font-weight: bold;
}

.navbar .dropdown-menu li > a:hover {
	color: #fc4e1b !important;
	background-color: #fc4e1b !important;
}

.navbar-inverse .navbar-nav > li > a {
	transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	color: #fc4e1b !important;
	background-color: transparent !important;
	border: 1px solid #fc4e1b;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #fc4e1b !important;
	background-color: #fc4e1b !important;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
	transition: all 0.25s ease;
	-webkit-transition: all 0.25s ease;
	color: #fc4e1b !important;
	background-color: transparent !important;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
	color: #fc4e1b !important;
	background-color: #fc4e1b !important;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	color: #fc4e1b !important;
	background-color: #f2f2f2 !important;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #fc4e1b !important;
	background-color: #f2f2f2 !important;
}

.dropdown-menu > li > a {
	color: #fc4e1b;
	background-color: transparent;
}

.btn-invite {
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
	border: 1px solid #fc4e1b;
	margin-top: 30px;
	float: left;
	color: #fc4e1b;
	padding: 10px;
}

.btn-invite:hover {
	background-color: #f2f2f2;
	border-color: #fc4e1b;
}

.btn-login {
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
	border: 1px solid #fc4e1b;
	margin-top: 30px;
	float: left;
	color: #fc4e1b;
	padding: 0;
}

.btn-login:hover {
	background-color: #f2f2f2;
	border-color: #fc4e1b;
}

.circle-icon {
	float: left;
	width: 64px;
	height: 64px;
	border-radius: 64px;
	-webkit-border-radius: 64px;
	-moz-border-radius: 64px;
	border: 2px solid #fc4e1b;
	margin: 0px;
	margin-right: 5px;
}

.circle-icon-dev {
	float: left;
	width: 124px;
	height: 124px;
	border-radius: 124px;
	-webkit-border-radius: 124px;
	-moz-border-radius: 124px;
	border: 3px solid #fc4e1b;
	margin: auto;
}

.circle-icon-profile img {
	display: inline;
	width: 256px;
	height: 256px;
	border-radius: 256px;
	-webkit-border-radius: 256px;
	-moz-border-radius: 256px;
	border: 3px solid #fc4e1b;
	margin-bottom: 10px;
}

.borderless td, .borderless th {
	border: none;
}

.row-centered {
	text-align: center;
}

.circle-icon-big {
	float: none;
	width: 340px;
	height: 340px;
	border-radius: 340px;
	-webkit-border-radius: 340px;
	-moz-border-radius: 340px;
	border: 4px solid #fc4e1b;
	margin: 20px;
}

.devtable {
	table-layout: fixed;
}

.dev td:first-child {
	width: 124px;
}

.nav-tabs > li > a {
	color: #fc4e1b;
}

@media (max-width: 1000px) {
	.navbar-collapse.collapsing,
	.navbar-collapse.in {
		background-color: rgba(240, 240, 240, 0.95);
		border-bottom: 1px solid #cccccc;
	}
	
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: #fc4e1b !important;
		background-color: transparent;
	}
	
	.navbar-nav .open .dropdown-menu > li > a:hover {
		text-decoration: none;
	}
}

@media (max-width: 1000px) {
	.navbar-header {
		float: none;
    }
	
	.navbar-left,.navbar-right {
		float: none !important;
	}
	
	.navbar-toggle {
		display: block;
	}
	
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	
	.navbar-collapse.collapse {
		display: none!important;
	}
	
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	
	.navbar-nav>li {
		float: none;
	}
	
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.collapse.in{
		display:block !important;
	}
}