RewriteEngine on
RewriteRule ^index$ index.php [NC]
RewriteRule ^about$ about.php [NC]
RewriteRule ^commands$ commands.php [NC]
RewriteRule ^profile$ profile.php [NC]
RewriteRule ^callback$ callback.php [NC]
RewriteRule ^store$ store.php [NC]
RewriteRule ^payment-details$ payment-details.php [NC]
RewriteRule ^submit$ submit.php [NC]